/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
GOOGLE FONT
============================================================ */

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* FREE GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=Oswald);
/* FREE GOOGLE FONT */
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
/*font-family: 'Droid Arabic Naskh', serif;*/



/* =============================================================
GENERAL STYLES
============================================================ */
body {
    font-family: 'Droid Arabic Naskh', serif;
    color: #fff;
}

section {
    padding-top: 80px;
    padding-bottom: 40px;
}

.pad-bottom {
    padding-bottom: 60px;
}

.header {
    font-family: 'Droid Arabic Naskh', serif;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.header hr {
    width: 50px;
    border-top: 2px solid rgb(228, 79, 79);
}


/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: 25px 5px 5px 0px;
    margin: 5px;
}

.btn-custom-one {
    background-color: transparent;
    color: #fff;
    border: 2px solid rgb(228, 79, 79);
}

.btn-custom-one:hover {
    background-color: rgb(228, 79, 79);
    text-decoration: none;
    color: #fff;
}

.btn-custom-two {
    color: #fff;
    background-color: rgb(228, 79, 79);
    border: 2px solid rgb(228, 79, 79);
}

.btn-custom-two:hover {
    border: 2px solid rgb(228, 79, 79);
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}


/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
    border-bottom: 1px solid rgb(228, 79, 79);
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 800;
    padding: 5px 0px;
    letter-spacing: 2px;
    margin: 10px 20px 10px 20px;
    color: #FFF;
    text-align: right;
}

#pp {
    color: rgb(228, 79, 79);
    text-decoration: none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover {
    color: #fff;
    font-weight: 900;
    font-family: 'Droid Arabic Naskh', serif;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(228, 79, 79);
}

.navbar-inverse .navbar-toggle {
    border-color: rgb(228, 79, 79);
}


/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;
}

#home .social {
    display: block;
    margin: 50px 20px;
}

/*Carousel Slider*/

#carousel-slider {
    padding: 50px 20px 5px 50px;
}

#carousel-slider h3 {
    line-height: 50px;
    font-family: 'Droid Arabic Naskh', serif;
}

#carousel-slider p {
    color: rgb(228, 79, 79);
    font-size: 16px;
    line-height: 25px;
    margin: 25px 20px;
}

/* =============================================================
SERVICES SECTION STYLES
============================================================ */

#services .services-wrapper {
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: right;
}

#services .services-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.20);
}

#services h3 {
    font-family: 'Droid Arabic Naskh', serif;

}

#services a{
    text-decoration: none;
    color: #fff;
}

#services .services-wrapper i {
    margin: 5px;
    color: rgb(228, 79, 79);
    font-size: 60px;
}




/*============================
WORK SECTION STYLES
==============================*/

#work .caegories a.active {
    background-color: transparent;
    color: #fff;
}

.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#work .work-wrapper {
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgb(228, 79, 79);
}

#work .work-wrapper:hover {
    background-color: transparent;
    border: 1px solid rgb(228, 79, 79);

    opacity: .80;
    /* standard: ff gt 1.5, opera, safari */
    -ms-filter: "alpha(opacity=80)";
    /* ie 8 */
    filter: alpha(opacity=80);
    /* ie lt 7 */
    -khtml-opacity: .80;
    /* safari 1.x */
    -moz-opacity: .80;
    /* ff lt 1.5, netscape */

}

.fancybox-type-iframe .fancybox-nav {
    width: 60px;;
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -6000px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -6000px;
}

#work .work-wrapper h4{
    padding-top: 10px;
    text-align: center;
}

#work .work-wrapper img{
   text-align: center;
}




/*============================
TEAM SECTION STYLES
==============================*/


.team-wrapper {
    overflow-x: hidden;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transform: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-bottom: 30px;
}

.team-wrapper:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.team-wrapper .team-inner {
    background-size: cover;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    padding: 150px 0 10px;
    /*background-image: url('../img/girl-big.jpg');*/
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 10px 10px 0px 0px;
}

.team-wrapper>.team-inner>a {
    color: rgb(228, 79, 79);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto -50px;
    display: block;
    color: rgb(228, 79, 79);
    z-index: 999;
    font-size: 40px;
    padding: 15px 22px;
    background-color: #fff;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.team-wrapper>.team-inner>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(228, 79, 79);
}

.classe21 img{
    text-align: center;
    width: 100%;

.team-wrapper .description {
    padding: 30px 20px 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.team-wrapper .description h5 {
    color: rgb(228, 79, 79);
}



/*============================
CONTACT SECTION STYLES
==============================*/

#contact .contact-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    min-height: 225px;
    
}

#contact .contact-wrapper h3 {
    color: rgb(228, 79, 79);
    text-align: right;
}

#contact .contact-wrapper p,
h4 {
    text-align: right;
}

#contact .contact-wrapper a {
    color: #fff;
}

#contact .social-below {
    display: block;
    margin-top: 5px;
    text-align: right;
}

.footer-div {
    padding-top: 25px;
    text-align: right;
}

.footer-div a,
.footer-div a:hover {
    font-size: 10px;

    color: #fff;
    text-decoration: none;
}
